.dropZone {
    border-width: 2px;
    border-style: dashed;
    border-color: black;
    padding: 2px;
}

.dropOutline {
    border-width: 1px;
    border-style: dashed;
    border-color: green;
    padding: 2px;
    height: 2px;
}

.dropZoneOnly {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    align-content: center;
}

.noDrop {
    cursor: no-drop;
    border-color: red;
}

.drop {
    cursor: copy;
    border-color: green;
}